{% extends "layout.html" %}
{% block content %}
    <h1>Skill Assessment of Software Developers</h1>
    <p class='text-muted' style="font-size:120%;">This project aims to determine competency of a software developer using authentic examination of their coding skills. This project currently is exploratory and research oriented.</p>
    <br>

    <div class="row">
      <!-- Home Page -->
      <div class="col-md-8">
          <div class="content-section">
              <h3>Code Repository</h3>
              <p class='text-muted'>All codebase and scripts used for the project
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-light"><a class="nav-item nav-link" href="https://github.com/realyashnag/soft-skill-assessment">Github Repository</a></li>
                  </ul>
              </p>
          </div>
          <div class="content-section">
              <h3>Project Report</h3>
              <p class='text-muted'>Latex report for the project
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-light"><a class="nav-item nav-link" href="https://www.overleaf.com/project/5d55f9005a59b7784800eb34">Overleaf Latex Report</a></li>
                  </ul>
              </p>
          </div>
          <div class="content-section">
              <h3>Project Slides</h3>
              <p class='text-muted'>Initial slides on the project's prospect
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-light"><a class="nav-item nav-link" href="https://docs.google.com/presentation/d/1EuStsANJr23duIBqX7xD2zRfHeNhyQMcjyeaZs036m0/edit?usp=sharing">Google Slides Presentation</a></li>
                  </ul>
              </p>
          </div>
      </div>

      <!-- Current Updates -->
      <div class="col-md-4">
          <div class="content-section">
            <h3>Current Updates</h3>
            <p class='text-muted'>Tasks currently undergoing or completed
              <ul class="list-group">
                <li class="list-group-item list-group-item"><input type="checkbox" disabled> Scripts to identify if KU is satisfied</li>
                <li class="list-group-item list-group-item-light"><input type="checkbox" disabled><a href="{{ url_for('showProxorCExamResults') }}"> Assign KU to C Programs</a></li>
                <li class="list-group-item list-group-item-light"><input type="checkbox" checked="checked" disabled> Develop Introductory Website</li>
                <li class="list-group-item list-group-item-light"><input type="checkbox" checked="checked" disabled> Conceptualize Tasks</li>
              </ul>
            </p>
          </div>
        </div>
    </div>

{% endblock content %}

